/* Fuente */
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #0e0030;
    color: #ead7ff;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

/* Navbar */
.navbar {
    background-color: #150046;
    padding: 15px 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    margin: 0;
}

.navbar a {
    color: #eab8ff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

.navbar a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.nav-icon {
    width: 22px;
    vertical-align: middle;
    margin-right: 8px;
}

.navbar a {
    display: flex;
    align-items: center;
}


/* Home */
.home-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 20px;
    flex-wrap: wrap;
}

.intro h1 {
    font-size: 60px;
    color: #eab8ff;
    margin: 0;
}

.intro p {
    font-size: 25px;
}

.perfil {
    width: 280px;
    border-radius: 50%;
    border: 5px solid #eab8ff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
}

.perfil:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(234, 184, 255, 0.4);
}

/* Sobre mi */
.sobre-section {
    text-align: center;
    padding: 80px 30px;
}

.sobre-section h2 {
    font-size: 50px;
    color: #eab8ff;
}

.sobre-section p {
    font-size: 24px;
    line-height: 1.6;
}

/* Mis proyectos */
.proyectos-section {
    text-align: center;
    padding: 70px 20px;
}

.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    padding: 40px;
}

.project-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.project-card img {
    width: 90%;
    border-radius: 15px;
}

/* Footer */
.footer {
    background-color: #07001a;
    padding: 60px 20px;
    text-align: center;
}

.footer h2 {
    color: #eab8ff;
    font-size: 40px;
}

.contact-info p {
    font-size: 20px;
}

.social a img {
    width: 35px;
    margin: 10px;
    transition: 0.3s;
}

.social a img:hover {
    transform: scale(1.2);
}

.social a {
    text-decoration: none;
}

.copy {
    margin-top: 30px;
    color: #a78ac1;
    font-size: 14px;
}
